@import url(//fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.me {
  padding: 10px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
/*  background-color: #c19173;*/
}

.text-center {
  text-align: center;
}

.border:hover {
  color: #0f2f40;
  box-shadow: 0px 0px 30px #c19173;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.btn-color {
  text-decoration: none;
  background-color: #c0b2be;
  color: #0f2f40;
  font-size: 18px;
  padding: 8px 24px;
  border-radius: 4px;
}

.btn-color:hover {
  color: #0f2f40;
  background-color: #c19173;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

body {
  background-color: #c0b3be
}

h1 {
  text-align: center;
/*  text-decoration: underline overline;*/
  font-family: 'Roboto Condensed', Roboto, sans-serif;
  font-weight:  900;
/*  font-style: italic;*/
  color: #0f2d3f;
  border-bottom: 1px solid #000;
  border-bottom-style: solid;
}

p {
  text-align: center;
  font-family: 'Roboto Condensed', Roboto, sans-serif;
  font-weight:  900;
  font-style: italic;
  color: #0f2d3f;
  height: 70px
}

h2 {
  text-align: center;
/*  text-decoration: underline overline;*/
  font-family: 'Roboto Condensed', Roboto, sans-serif;
  font-weight:  900;
  font-style: italic;
  color: #0f2d3f;
  margin: -2px;
  border-bottom: 1px solid #000;
  border-bottom-style: solid;
  height: 35px;
}

a {
  text-align: center;
  text-decoration: underline overline;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:  900;
  color: #412d31
}

a:hover {
  color: #0f2f40;
  background-color: #c19173;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.card {
  text-align: center;
  padding: 16px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 5px 15px rgba(0,0,0,.1);    /* Light shadow */
  width: 600px;        /* Set the width */
  margin: 24px auto;
  background-color: #d0cfda
}
